@mixin border-radius ($radius) {
  -webkit-border-radius: $radius; -webkit-background-clip: padding-box; 
  -moz-border-radius: $radius; -moz-background-clip: padding; 
  border-radius: $radius; background-clip: padding-box; 
}
@mixin border-radius ($radius) {
  -webkit-border-radius: $radius; -webkit-background-clip: padding-box; 
  -moz-border-radius: $radius; -moz-background-clip: padding; 
  border-radius: $radius; background-clip: padding-box; 
}
@mixin transition ($transition) {
	-webkit-transition: $transition;  /* For Safari 3.1 to 6.0 */
	transition: $transition;
}
@mixin transform ($transform) {
    -ms-transform: $transform; /* IE 9 */
    -webkit-transform: $transform; /* Chrome, Safari, Opera */
    transform: $transform;
}
@mixin image ($image) {
	background-image: $image;
	background-position: center top;
	background-size: 100% auto;
}
@mixin header-font () {
	font-family: $header-font;
	font-size: $header-font-size + 0em;
	font-weight: bold;
	line-height: $header-font-size + 0em;
}
@mixin body-font () {
	font-family: $default-font;
	font-size: $body-font-size + 0em;
	line-height: $body-font-size + .3 + 0em
}