body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}
.header-image {
	display: block;
	margin: auto;
	margin-top: .4em;
	margin-bottom: .4em;
	max-width: 100%;
}
.spinner-image {
	display: block;
	margin: auto;
	width: $spinner-size + 0em;
	height: $spinner-size + 0em;
}
.posts-container {
	width: $posts-container-width + 0em;
/*	max-width: 80%; */
	height: 40em;
	margin: auto;
}
.post-container {
	float: left;
	width: $post-container-width;
	max-width: 100%;
	margin-top: 10px;
	padding: $padding + 0em;
	@include border-radius(.5em);
}
.post-image-container {
	float: left;
	padding: $padding + 0em;
	width: $post-image-width + 0em;
}
.post-image {
	display: block;
	margin: auto;
	height: $post-image-width + 0em;
	width: auto;
}
.post-content-container {
	float: left;
	padding: $padding + 0em;
	width: $post-content-width + 0em;
	max-width: 100%;
	p {
		margin-top: $padding + 0em;
	}
}
.infobar {
	background-color: #000000;
	padding-top: .5em;
	padding-bottom: .5em;
	min-height: 1.3em;
}
.footer-slant {
	z-index: -1;
	margin-top: 1.5em;
	margin-left: -1em;
	float: left;
	width: 110%;
	height: 2em;
	background-color: #000000;
	@include transform(rotate(1deg));
}
.footer {
	z-index: 1;
	float: left;
	width: 100%;
	min-height: 10em;
	margin-top: -1em;
	background-color: #000000;
	color: #FFFFFF;
	p {
		color: #FFFFFF;
		margin-top: 2em;
		text-align: center;
		line-height: 1.5em;

	}
	a {
		color: #EEEE00;
		@include transition(color 750ms);
	}
	a:hover {
		color: #FFBB00;
	}
	h3 {
		margin-top: .2em;
		margin-bottom: 1em;
		text-align: center;
	}
}
.note-shade {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 51, 51, .65);
}
.note {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -1 * $note-width / 2 - $padding * 4 + 0em;
	margin-top: -1 * $note-height / 2 - $padding * 4 + 0em;
	width: $note-width + 0em;
	max-width: 100%;
	min-height: $note-height + 0em;
	padding: 4 * $padding + 0em;
	border-radius: .5em;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	background-color: rgba(255, 255, 255, 1);
	@include box-shadow(0 5px 15px rgba(0, 0, 0, 0.5));
	p {
		margin-top: 1.75em;
		line-height: 1.4em;
	}
	h3 {
		font-family: Helvetica, arial, sans-serif;
		font-weight: bold;
	}
	a {
		font-size: 1.5em;
		color: #444444;
	}
	a:hover {
		text-decoration: underline;
	}
}
.close-dialog {
	width: 1.5em;
	height: 1.5em;
	float: right;
	cursor: pointer;
	margin-top: -1 * 2 * $padding + 0em;
	margin-right: -1 * 2 * $padding + 0em;
}
.close-dialog:hover {
	opacity: .75;
}

.wfmz {
	background-color: $WFMZbackground;
	@include transition(background-color 1000ms);
}
.wfmz:hover {
	background-color: $WFMZbackground-hover;
}
.mcall {
	background-color: $MCALLbackground;
	@include transition(background-color 1000ms);
}
.mcall:hover {
	background-color: $MCALLbackground-hover;
}
.lvl {
	background-color: $LVLbackground;
	@include transition(background-color 1000ms);
}
.lvl:hover {
	background-color: $LVLbackground-hover;
}