.posts-container {
	width: $posts-container-width + 0em;
	max-width: 100%;
	height: 40em;
	margin: auto;
}
.post-container {
	float: left;
	width: $post-container-width;
	max-width: 100%;
	margin-top: 10px;
	padding: $padding + 0em;
	@include border-radius(.5em);
}
.post-image-container {
	float: left;
	padding: $padding + 0em;
	width: $post-image-width + 0em;
}
.post-image {
	height: $post-image-width + 0em;
	width: auto;
}
.post-content-container {
	float: left;
	padding: $padding + 0em;
	width: $post-content-width + 0em;
	max-width: 100%;
	p {
		margin-top: $padding + 0em;
	}
}

.wfmz {
	background-color: $WFMZbackground;
	@include transition(background-color 1000ms);
}
.wfmz:hover {
	background-color: $WFMZbackground-hover;
}
.mcall {
	background-color: $MCALLbackground;
	@include transition(background-color 1000ms);
}
.mcall:hover {
	background-color: $MCALLbackground-hover;
}
.lvl {
	background-color: $LVLbackground;
	@include transition(background-color 1000ms);
}
.lvl:hover {
	background-color: $LVLbackground-hover;
}