body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}
.header-image {
	display: block;
	margin: auto;
	margin-top: .4em;
	margin-bottom: .4em;
	max-width: 100%;
}
.spinner-image {
	display: block;
	margin: auto;
	width: $spinner-size + 0em;
	height: $spinner-size + 0em;
}
.posts-container {
	width: $posts-container-width + 0em;
	max-width: 100%;
	height: 40em;
	margin: auto;
}
.post-container {
	float: left;
	width: $post-container-width;
	max-width: 100%;
	margin-top: 10px;
	padding: $padding + 0em;
	@include border-radius(.5em);
}
.post-image-container {
	float: left;
	padding: $padding + 0em;
	width: $post-image-width + 0em;
}
.post-image {
	display: block;
	margin: auto;
	height: $post-image-width + 0em;
	width: auto;
}
.post-content-container {
	float: left;
	padding: $padding + 0em;
	width: $post-content-width + 0em;
	max-width: 100%;
	p {
		margin-top: $padding + 0em;
	}
}
.infobar {
	background-color: #000000;
	padding-top: .5em;
	padding-bottom: .5em;
}
.footer-slant {
	z-index: -1;
	margin-top: 1.5em;
	margin-left: -1em;
	float: left;
	width: 110%;
	height: 2em;
	background-color: #000000;
	@include transform(rotate(1deg));
}
.footer {
	z-index: 1;
	float: left;
	width: 100%;
	min-height: 10em;
	margin-top: -1em;
	background-color: #000000;
	color: #FFFFFF;
	p {
		color: #FFFFFF;
		margin-top: 2em;
		text-align: center;
		line-height: 1.5em;

	}
	a {
		color: #EEEE00;
		@include transition(color 750ms);
	}
	a:hover {
		color: #FFBB00;
	}
	h3 {
		margin-top: .2em;
		margin-bottom: 1em;
		text-align: center;
	}
}

.wfmz {
	background-color: $WFMZbackground;
	@include transition(background-color 1000ms);
}
.wfmz:hover {
	background-color: $WFMZbackground-hover;
}
.mcall {
	background-color: $MCALLbackground;
	@include transition(background-color 1000ms);
}
.mcall:hover {
	background-color: $MCALLbackground-hover;
}
.lvl {
	background-color: $LVLbackground;
	@include transition(background-color 1000ms);
}
.lvl:hover {
	background-color: $LVLbackground-hover;
}