@media (max-width: $posts-container-width + 1 + 0em) {
	.post-image-container {
		display: none;
	}
	.inner-post-image {
		display: block;
	}
	.posts-container {
		width: $posts-container-width - $post-image-width - 2 * $padding + 0em;
		max-width: 85%;
		margin: auto;
	}
	.post-header {
		@include header-font($header-font-size - .1);
	}
	p {
		font-size: $body-font-size - .1 + 0em;
	}
}

@media (max-width: 33em) {
	.date-weather-note {
		text-align: left;
		font-size: 1.1em;
		padding-left: .5em;
		padding-top: .1em;
	}
/*	#date {
		display: none;
	}
	#dw-dash {
		display: none;
	} */
}

@media (max-width: 8 * $padding + $note-width + 0em) {
	.note {
		margin-left: -1 * $note-width / 4 - $padding * 2 + 0em;
		width: $note-width / 2 + 0em;
		padding: 2 * $padding + 0em;
		top: 2em;
		margin-top: auto;
		height: auto;
		h3 {
			font-size: 1.3em;
		}
		a {
			font-size: .9em;
		}
	}
}