h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1em;
}
h6 {
	font-size: .5em;
}
p {
/*	font-size: 1em;
	line-height: 1.3em; */
	@include body-font();
}
a {
	text-decoration: none;
	color: $default-color;
}
.post-header {
/*	font-family: $header_font;
	font-size: 1.25em;
	font-weight: bold; */
	@include header-font();
}
.post-date {
	font-size: .9em;
	font-style: italic;
}
.date-weather-note {
	color: #FFFFFF;
	text-align: center;
}