$default_font: 'Open Sans', Arial, Helvetica, sans-serif;
$default_color: #000000;
$padding: 5px;
$WFMZbackground: #FFFF66;
$WFMZbackground-hover: #FFFF00;
$MCALLbackground: #EEEEEE;
$MCALLbackground-hover: #CCCCCC;
$LVLbackground: #FFAAAA;
$LVLbackground-hover: #FF7777;
$post-content-width: 39em;
$post-image-width: 4;