/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

/* Begin Variables */

/* End Variables */

/* Begin Classes */
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.5em;
}
.header-image {
	max-width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.infobar {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	background-color: #000000;
}
.weather-note {
	text-align: center;
	color: #FFFF00;
}
/* End Classes */