/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "_normalize";
@import "_variables";
@import "_color_and_bgs";
@import "_typography";
@import "_layout";
@import "_mediaqueries";

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/*
.header-image {
	max-width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.infobar {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 20px;
	background-color: #000000;
}
.weather-note {
	text-align: center;
	color: #FFFF00;
}

*/